.configure-block {

    width: 600px;
    padding: 10px;

    border: dotted 2px #333;
}

.configure-block>label {

    display: inline-block;
    margin: 10px;

}

.configure-block>label>span {

    font-weight: bold;
}

.configure-block>button {

    margin-top: 15px;

    width: 100%;
    height: 50px;

}



.report-block {

    margin-top: 20px;
}

.report-block>table {

    border-collapse: collapse;
}

.report-block>table>thead td {

    background: #eee;
    font-weight: bold;
    padding: 10px;
}

.report-block>table td {

    border: solid black 1px;
    padding: 5px;
}
